<div class="d-flex flex-column flex-column-fluid">
  <div id="kt_app_toolbar" class="app-toolbar pt-8">
    <div class="app-container container-xxl d-flex flex-stack">
      <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
        <h1 class="page-heading d-flex text-gray-900 fw-bold flex-column justify-content-center my-0 fs-1">
          Crear producto
        </h1>
      </div>
    </div>
  </div>

  <div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
      <!--begin::Form-->
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form d-flex flex-column flex-lg-row">
        <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
          <div class="tab-content">
              <div class="d-flex flex-column gap-7 gap-lg-10">
                  <div class="card card-flush">
                    <div class="card-header">
                      <div class="card-title">
                        <h2>General</h2>
                      </div>
                    </div>
                
                    <div class="card-body pt-0">
                      <div class="row g-5">
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label class="required form-label">Tipo</label>
                            <select class="form-select">
                              <option value="" disabled>Selecciona una opcion</option>
                              <option value="1">Comercial<option>
                              <option value="2">Generico</option>
                            </select>
                            <div class="text-muted fs-7">
                              El producto es generico si su nombre es igual que su principio activo
                            </div>
                          </div>
                        </div>
                
                        <!-- Laboratorio -->
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label class="form-label">Codigo de barra</label>
                            <input
                              type="text"
                              name="product_name"
                              class="form-control"
                              placeholder="Escribe el nombre del producto"
                            />
                            <div class="text-muted fs-7">
                              Procura usar la pistolita para capturar el valor
                            </div>
                          </div>
                        </div>
                
                        <!-- Descripción -->
                        <div class="col-md-4"> <!-- Descripción a una sola columna -->
                          <div class="mb-3">
                            <label class="required form-label">Unidad</label>
                            <ng-select 
                              [items]="UNIDADES"
                              required
                              formControlName="unidad_id"
                              bindLabel="name"
                              bindValue="id"
                              placeholder="Selecciona una unidad"
                              [searchable]="true"
                              [clearable]="true" 
                              [virtualScroll]="true"  
                              [loading]="loading"  
                              [loadingText]="'Cargando...'" >
                          </ng-select>
                            <div class="text-muted fs-7">
                              Usaremos NIU por defecto
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <label class="form-label">¿Sale en boleta?</label>
                          <div class="form-check form-check-custom form-check-solid mb-3">
                            <input class="form-check-input" type="checkbox" value=""/>
                            <label class="form-check-label">Si</label>
                          </div>
  
                          <div class="text-muted fs-7">
                            Importante para determinar el documento de venta
                          </div>
                        </div>

                      </div>
                    </div>
                  
                </div>

                <div class="d-flex flex-column gap-7 gap-lg-10">
                  <div class="card card-flush pt-10">
                    <div class="card-header">
                      <div class="w-100">
                        <div class="card-title m-0">
                          <div class="w-100 d-md-flex justify-content-between">
                            <h2>Informacion</h2>
                            <div class="d-md-flex align-items-center gap-2 mt-5 mt-md-0">
                              <label class="form-label fs-4 m-0">SKU:</label>
                              <input
                                type="text"
                                name="product_name"
                                class="form-control w-100"
                                placeholder="Codigo del producto"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                
                    <div class="card-body pt-0">
                      <div class="row g-5"> 
                        <div class="col-md-4">
                          <div class="mb-3">
                            <label class="required form-label mb-4 mt-2">Nombre</label>
                            <input
                              type="text"
                              name="product_name"
                              class="form-control"
                              placeholder="Escribe el nombre del producto"
                            />
                            <div class="text-muted fs-7">
                              Coloca solo el nombre, por ejemplo "FARMOXYL CL"
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4"> 
                          <div class="mb-3">
                            <label class="required form-label mb-4 mt-2">Caracteristicas</label>
                            <input
                            type="text"
                            name="product_name"
                            class="form-control"
                            placeholder="Escribe las caracteristicas del producto"
                            />
                            <div class="text-muted fs-7">
                              Ejemplo: "CJA X 100 TAB REC"
                            </div>
                          </div>
                        </div>
              
                        <div class="col-md-4">
                          <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <label class="required form-label m-0">Laboratorio </label>
                              <button type="button" class="btn btn-primary px-4 py-2" (click)="createLaboratorio()">
                                  +
                              </button>
                            </div>
                            <ng-select 
                              [items]="LABORATORIOS"
                              required
                              formControlName="laboratorio_id"
                              bindLabel="name"
                              bindValue="id"
                              placeholder="Selecciona un laboratorio"
                              [searchable]="true"
                              [clearable]="true" 
                              [virtualScroll]="true"  
                              [loading]="loading"  
                              [loadingText]="'Cargando...'" >
                            </ng-select>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <label class="form-label m-0">Principios Activos</label>
                              <button type="button" class="btn btn-primary px-4 py-2" (click)="createPrincipioActivo()">
                                  +
                              </button>
                            </div>
                            <ng-select 
                              [items]="PRINCIPIOS_ACTIVOS"
                              formControlName="principio_activo_id"
                              bindLabel="name"
                              bindValue="id"
                              placeholder="Selecciona uno o mas principios activos"
                              [searchable]="true"
                              [clearable]="true" 
                              [virtualScroll]="true"  
                              [loading]="loading"  
                              [multiple]="true"
                              [loadingText]="'Cargando...'" >
                            </ng-select>
                            <div class="text-muted fs-7">
                              Revisa en la parte trasera de la caja
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <label class="required form-label m-0">Linea Farmaceutica</label>
                              <button type="button" class="btn btn-primary px-4 py-2" (click)="createLineaFarmaceutica()">
                                  +
                              </button>
                            </div>
                            <ng-select 
                              [items]="LINEAS_FARMACEUTICAS"
                              required
                              formControlName="linea_farmaceutica_id"
                              bindLabel="name"
                              bindValue="id"
                              placeholder="Selecciona una linea farmaceutica"
                              [searchable]="true"
                              [clearable]="true" 
                              [virtualScroll]="true"  
                              [loading]="loading"  
                              [loadingText]="'Cargando...'" >
                            </ng-select>
                            <div class="text-muted fs-7">
                              Consultalo en google
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <label class="required form-label m-0">Fabricante</label>
                              <button type="button" class="btn btn-primary px-4 py-2" (click)="createFabricante()">
                                  +
                              </button>
                            </div>
                            <ng-select 
                              [items]="FABRICANTES"
                              formControlName="fabricante_id"
                              bindLabel="name"
                              bindValue="id"
                              placeholder="Selecciona un fabricante"
                              [searchable]="true"
                              [clearable]="true" 
                              [virtualScroll]="true"  
                              [loading]="loading"  
                              [loadingText]="'Cargando...'" >
                            </ng-select>
                            <div class="text-muted fs-7">
                              Revisa en la parte trasera de la caja
                            </div>
                          </div>
                        </div>


                        <!-- <div class="col-md-4">
                          <div class="mb-3">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <label class="required form-label m-0">Categorias</label>
                              <button type="button" class="btn btn-primary px-4 py-2" (click)="createCategoria()">
                                  +
                              </button>
                            </div>
                            <ng-select 
                              [items]="CATEGORIAS"
                              formControlName="categoria_id"
                              bindLabel="name"
                              bindValue="id"
                              placeholder="Selecciona una categoria"
                              [searchable]="true"
                              [clearable]="true" 
                              [virtualScroll]="true"  
                              [loading]="loading"  
                              [loadingText]="'Cargando...'" >
                            </ng-select>
                            <div class="text-muted fs-7">
                              Revisa en la parte trasera de la caja
                            </div>
                          </div>
                        </div> -->
                
      
                        <div class="col-md-12"> 
                          <div class="mb-3">
                            <label class="form-label">Descripcion</label>
                            <textarea
                              class="form-control form-control-solid"
                              rows="3"
                              name="target_details"
                              placeholder="Escribe la descripción del producto"
                            ></textarea>
                            <div class="text-muted fs-7">
                              Podrias buscar informacion en google y pegarlo aqui
                            </div>
                          </div>
                        </div>
                
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card card-flush">
                  <div class="card-header">
                    <div class="card-title">
                      <h2>Seccion DIGEMID</h2>
                    </div>
                  </div>

                  <div class="card-body pt-0">
                    <div class="row g-5">
                      <div class="col-md-4">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                          <label class="required form-label m-0">Registro Sanitario</label>
                          <button type="button" class="btn btn-primary px-4 py-2">
                            <i class="fa fa-search"></i>
                          </button>
                        </div>
                        <input
                          type="text"
                          name="product_name"
                          class="form-control"
                          placeholder="Escribe el registro sanitario"
                        />
                        <div class="text-muted fs-7">
                          Revisa bien la caja
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="mb-3">
                          <label class="form-label mb-4 mt-2">Codigo Digemid</label>
                          <input
                            type="text"
                            name="product_name"
                            class="form-control"
                            placeholder="Escribe el registro sanitario"
                          />
                          <div class="text-muted fs-7">
                            Revisa bien la caja
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="mb-3">
                          <div class="d-flex justify-content-between align-items-center mb-2">
                            <label class="required form-label m-0">Condiciones de almacenamiento</label>
                            <button type="button" class="btn btn-primary px-4 py-2">
                                +
                            </button>
                          </div>
                          <ng-select 
                              [items]="CONDICIONES_ALMACENAMIENTO"
                              formControlName="condiciones_almacenamiento_id"
                              bindLabel="name"
                              bindValue="id"
                              placeholder="Selecciona una o varias condiciones"
                              [searchable]="true"
                              [clearable]="true" 
                              [virtualScroll]="true"  
                              [loading]="loading"  
                              [multiple]="true"
                              [loadingText]="'Cargando...'" >
                            </ng-select>
                          <div class="text-muted fs-7">
                            Revisa en la parte trasera de la caja
                          </div>
                        </div>
                      </div>
                    </div>                    
                  </div>
                </div>

                

                

                <div class="card card-flush py-4">
                  <div class="card-header">
                    <div class="card-title">
                      <h2>Adicionales</h2>
                    </div>
                  </div>

                  <div class="card-body pt-0">
                    <div class="mb-10 row fv-row">
                      <div class="col-4">
                        <label class="required form-label">Precio de venta</label>

                        <input
                          type="number"
                          name="price"
                          class="form-control mb-2"
                          placeholder="Product price"
                          value=""
                        />

                        <div class="text-muted fs-7">
                          Recuerda que el precio es en base al laboratorio
                        </div>
                      </div>
                    </div>

                    <div class="d-flex flex-wrap gap-5">
                      <div class="fv-row w-100 flex-md-root">
                        <label class="required form-label">Tax Class</label>

                        <select
                          class="form-select mb-2"
                          name="tax"
                          data-control="select2"
                          data-hide-search="true"
                          data-placeholder="Select an option"
                        >
                          <option></option>
                          <option value="0">Tax Free</option>
                          <option value="1">Taxable Goods</option>
                          <option value="2">Downloadable Product</option>
                        </select>

                        <div class="text-muted fs-7">
                          Set the product tax class.
                        </div>
                      </div>

                      <div class="fv-row w-100 flex-md-root">
                        <label class="form-label">VAT Amount (%)</label>

                        <input type="text" class="form-control mb-2" value="" />

                        <div class="text-muted fs-7">
                          Set the product VAT about.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div class="text-center pt-15">
            <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss()">Cerrar</button>
            <button type="button" class="btn btn-primary">
                <span class="indicator-label">Registrar</span>
            </button>
        </div>
        </div>
      </form>
    </div>
    <!--end::Content container-->
  </div>
  <!--end::Content-->
</div>
