<!--begin::Modal content CREATE-->
<div class="modal-content">
    <!--begin::Modal header-->
    <div class="modal-header" id="kt_modal_add_user_header">
        <!--begin::Modal title-->
        <h2 class="fw-bolder">{{user}} comuniquémonos con {{NUMBER_SELECTED.persona}}</h2>

        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close"
            (click)="modal.dismiss()">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                        fill="currentColor" />
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                        fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
    </div>
    <!--end::Modal header-->
    <!--begin::Modal body-->
    <div class="modal-body">
            <!--begin::Scroll-->
            <div class="d-flex flex-column me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true"
                data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
                data-kt-scroll-dependencies="#kt_modal_add_user_header"
                data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
                <!--begin::Input group-->
                <div class="fv-row mb-7">
                    <a [href]="'https://wa.me/' + NUMBER_SELECTED.phone" class="badge-light-success p-4 rounded fs-5" target="_blank" style="text-decoration: none;">
                        <i class="fa-brands fa-whatsapp text-success"></i>
                        Enviar mensaje de whatsapp a {{ NUMBER_SELECTED.name }}
                        {{ NUMBER_SELECTED.phone }}
                    </a>
                </div>
                <div class="fv-row mb-7">
                    <a [href]="'tel:' + NUMBER_SELECTED.phone" class="badge-light-success p-2 rounded fs-5" target="_blank" style="text-decoration: none;">
                        <i class="fa-solid fa-phone text-success"></i>
                        Llamar a {{ NUMBER_SELECTED.name }}
                        {{ NUMBER_SELECTED.phone }}
                    </a>
                  </div>
            </div>
            <!--end::Scroll-->

            <!--begin::Actions-->
            <div class="text-center">
                <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss()">Cerrar</button>
            </div>
            <!--end::Actions-->
    </div>
    <!--end::Modal body-->
</div>
<!--end::Modal content CREATE-->

