<!--begin::Modal content CREATE-->
<div class="modal-content">
    <!--begin::Modal header-->
    <div class="modal-header" id="kt_modal_add_user_header">
        <!--begin::Modal title-->
        <h2 class="fw-bolder">{{user}} comuniquémonos con {{NUMBER_REPRESENTANTE_SELECTED.proveedor}}</h2>
        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close"
            (click)="modal.dismiss()">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                        fill="currentColor" />
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                        fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
    </div>
    <!--end::Modal header-->
    <!--begin::Modal body-->
    <div class="modal-body">
            <!--begin::Scroll-->
            <div class="d-flex flex-column">
                <!--begin::Input group-->
                <div class="fv-row mb-7">
                    <div style="display: flex; flex-direction: column; align-items: center; ">
                        <div *ngIf="NUMBER_REPRESENTANTE_SELECTED.phone;  else none">
                        <span class="fs-3 mx-auto">Actualmente el representante de ventas de {{NUMBER_REPRESENTANTE_SELECTED.proveedor}} es {{NUMBER_REPRESENTANTE_SELECTED.persona}}</span>
                          <div class="d-flex flex-column gap-2">
                            <a [href]="'https://wa.me/' + NUMBER_REPRESENTANTE_SELECTED.phone" class="badge-light-success p-4 rounded fs-5 text-center" target="_blank" style="text-decoration: none;">
                                <i class="fa-brands fa-whatsapp text-success"></i>
                                Enviar mensaje de whatsapp a {{ NUMBER_REPRESENTANTE_SELECTED.phone }}
                            </a>
                            <a [href]="'tel:' + NUMBER_REPRESENTANTE_SELECTED.phone" class="badge-light-success p-2 rounded fs-5 text-center" target="_blank" style="text-decoration: none;">
                                <i class="fa-solid fa-phone text-success"></i>
                                Llamar a {{ NUMBER_REPRESENTANTE_SELECTED.phone}}
                            </a>
                          </div>
                        </div>
                    </div>
                    <ng-template #none>
                        <div class="display: flex; flex-direction: column; align-items: center;">
                            <div class="badge-light-warning p-2 rounded fs-2 text-center">
                                Upss! {{NUMBER_REPRESENTANTE_SELECTED.proveedor}} no tiene ningun celular registrado
                            </div>
                            <div *ngIf="NUMBER_REPRESENTANTE_SELECTED.persona != 'Sin representante';  else noperson">
                                <div class="badge-light-warning p-2 rounded fs-2 text-center">
                                    <span class="fs-3 mx-auto">Probablemente {{NUMBER_REPRESENTANTE_SELECTED.persona}} no tenga ningun numero de celular asignado</span>
                                </div>
                            </div>
                            <ng-template #noperson>
                                <div class="badge-light-warning p-2 rounded fs-2 text-center">
                                    <span>Uyy {{NUMBER_REPRESENTANTE_SELECTED.proveedor}} no tienen ningun representante de ventas asignado</span>
                                </div>
                            </ng-template>
                        </div>
                    </ng-template>
                </div>
            </div>
            <!--end::Scroll-->

            <!--begin::Actions-->
            <div class="text-center">
                <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss()">Cerrar</button>
            </div>
            <!--end::Actions-->
    </div>
    <!--end::Modal body-->
</div>
<!--end::Modal content CREATE-->

