<!--begin::Modal content CREATE-->
<div class="modal-content">
    <!--begin::Modal header-->
    <div class="modal-header" id="kt_modal_add_user_header">
        <!--begin::Modal title-->
        <h2 class="fw-bolder">Manejo de imagenes para: {{PRODUCT.nombre_completo}}</h2>

        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close"
            (click)="modal.dismiss()">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                        fill="currentColor" />
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                        fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
    </div>
    <!--end::Modal header-->
    <!--begin::Modal body-->
    <div class="modal-body">
        <form [formGroup]="imagenForm" (ngSubmit)="onSubmit()">
            <div class="col-12 mb-5">
                <label for="main-image" class="form-label">Imagen principal</label>
                <app-drop-image id="main-image" [imageUrl]="imageSrc"  (imageSelected)="onImageSelected($event,'main')" (imageDeleted)="onImageDeleted('main')" class="image-principal"></app-drop-image>
            </div>
            <div class="row">
                <label class="mb-2 form-label">Imagenes de detalle</label>
                <div class="col-md-4">
                    <app-drop-image [imageUrl]="imageSrc1" (imageSelected)="onImageSelected($event,'image1')"
                    (imageDeleted)="onImageDeleted('image1')" id="image-1" class="image-container"></app-drop-image>
                </div>
                <div class="col-md-4">
                    <app-drop-image [imageUrl]="imageSrc2" (imageSelected)="onImageSelected($event,'image2')"
                    (imageDeleted)="onImageDeleted('image2')" id="image-2" class="image-container"></app-drop-image>
                </div>
                <div class="col-md-4">
                    <app-drop-image [imageUrl]="imageSrc3" (imageSelected)="onImageSelected($event,'image3')"
                    (imageDeleted)="onImageDeleted('image3')" id="image-3" class="image-container"></app-drop-image>
                </div>
            </div>
            
            <div class="text-center pt-15">
                <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss()">Cerrar</button>
                <button type="submit" class="btn btn-primary" [disabled]="imagenForm.invalid">Registrar</button>
            </div>
        </form>
    </div>
    <!--end::Modal body-->
</div>
<!--end::Modal content CREATE-->