<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5"><span class="path1"></span><span
                        class="path2"></span></i>
                <input type="text" data-kt-customer-table-filter="search" [(ngModel)]="search" (keyup.enter)="listSucursalesClientes()" name="search"
                    class="form-control form-control-solid w-250px ps-12" placeholder="Buscar por ruc o razon social" />
            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                <!--begin::Add customer-->
                <button type="button" class="btn btn-primary" (click)="preguntaPorUbicacion()">
                    Crear sucursal
                </button>
                <!--end::Add customer-->
            </div>
            <!--end::Toolbar-->
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table-->
        <div id="kt_customers_table_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
            <div id="" class="table-responsive mb-5">
                <table class="table table-auto align-middle table-row-dashed fs-6 gy-5 dataTable" style="width: 100%">
                    <thead>
                      <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-200px">
                          <span class="dt-column-title" role="button">Ruc</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-200px">
                          <span class="dt-column-title" role="button">Nombre Comercial</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-200px">
                          <span class="dt-column-title" role="button">Direccion</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-125px">
                          <span class="dt-column-title" role="button">Celular</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-200px">
                          <span class="dt-column-title" role="button">Correo</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-80px">
                          <span class="dt-column-title" role="button">Deuda</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-80px">
                          <span class="dt-column-title" role="button">Linea de Credito</span><span class="dt-column-order"></span>
                        </th>
                  
                        <th class="min-w-90px">
                          <span class="dt-column-title" role="button">Estado</span><span class="dt-column-order"></span>
                        </th>
                  
                        <th class="min-w-125px">
                          <span class="dt-column-title" role="button">Fecha de registro</span><span class="dt-column-order"></span>
                        </th>
                  
                        <!-- Columna Acciones: Visible solo en pantallas grandes -->
                        <th class="text-center min-w-70px dt-orderable-none d-none d-md-table-cell" data-dt-column="6" rowspan="1" colspan="1">
                          <span class="dt-column-title">Acciones</span><span class="dt-column-order"></span>
                        </th>
                      </tr>
                    </thead>
                  
                    <tbody class="fw-semibold text-gray-600">
                      <tr *ngFor="let S of SUCURSALES_LIST">
                        <td>
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <div class="d-md-none">
                                    <app-buttons-group-list>
                                        <button (click)="editSucursalCliente(S)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                            <i class="ki-duotone ki-pencil fs-2"><span class="path1"></span><span class="path2"></span></i>
                                        </button>
                                        <button (click)="deleteSucursalCliente(S)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                            <i class="ki-duotone ki-trash fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                        </button>
                                    </app-buttons-group-list>
                                </div>
                                <!-- Aquí se muestra el RUC -->
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                      <div class="d-flex justify-content-start flex-column">
                                          <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{ S.ruc }}</span>
                                          <span class="text-muted fw-semibold text-muted d-block fs-7">{{ S.razon_social }}</span>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-start flex-column">
                              <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{ S.nombre_comercial }}</span>
                              <span class="text-muted fw-semibold text-muted d-block fs-7">{{ S.categoria_digemid }}</span>
                              <span class="text-muted fw-semibold text-muted d-block fs-7">{{ S.nombre_estado_digemid }}</span>
                            </div>
                          </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-start flex-column">
                              <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{ S.direccion }}</span>
                              <span class="text-muted fw-semibold text-muted d-block fs-7">{{ S.distrito }}/{{ S.provincia }}/{{ S.departamento }} </span>
                            </div>
                          </div>
                        </td>

                        <td>
                            <div style="display: flex; flex-direction: column; align-items: flex-start; ">
                              <div *ngIf="S.celulares.length > 0;  else no_celular">
                                <div *ngFor="let celular of S.celulares" class="badge-light-success p-2 rounded" (click)="comunicationClienteSucursal([celular, S.nombre_comercial])">
                                  <i class="fa-brands fa-whatsapp text-success"></i>
                                  <span class="fs-7 fw-bold"> {{ celular }}</span>
                                </div>
                              </div>
                              <ng-template #no_celular>
                                <div class="badge-light-warning p-2 rounded">
                                    <i class="fa-solid fa-exclamation-triangle text-warning"></i>
                                    <span class="fs-7 fw-bold"> Sin celular</span>
                                </div>
                            </ng-template>
                          </div>
                        </td>

                        <td>
                            <div style="display: flex; flex-direction: column; align-items: flex-start; ">
                              <div *ngIf="S.correos.length > 0;  else no_correo">
                                <div *ngFor="let c of S.correos" class="badge-light-primary p-2 rounded">
                                  <i class="fa-solid fa-envelope text-primary"></i>
                                  <a [href]="'mailto:' + c" class="fs-7 fw-bold text-decoration-none text-primary"> {{ c }}</a>
                                </div>
                              </div>
                              <ng-template #no_correo>
                                <div class="badge-light-warning p-2 rounded">
                                    <i class="fa-solid fa-exclamation-triangle text-warning"></i>
                                    <span class="fs-7 fw-bold"> Sin Correo</span>
                                </div>
                            </ng-template>
                          </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-start flex-column">
                              <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">S/ {{ S.deuda }}</span>
                            </div>
                          </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-start flex-column">
                              <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">S/ {{ S.linea_credito }}</span>
                            </div>
                          </div>
                        </td>
                  
                        <td>
                          <span class="badge badge-light-success fs-7 fw-bold" *ngIf="S.state == 1">Activo</span>
                          <span class="badge badge-light-danger fs-7 fw-bold" *ngIf="S.state == 2">Inactivo</span>
                        </td>
                  
                        <td>{{ S.created_at }}</td>
                  
                        <!-- Columna Acciones visible solo en pantallas grandes -->
                        <td class="d-none d-md-table-cell">
                          <button (click)="editSucursalCliente(S)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                            <i class="ki-duotone ki-pencil fs-2"><span class="path1"></span><span class="path2"></span></i>
                          </button>
                          <button (click)="deleteSucursalCliente(S)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                            <i class="ki-duotone ki-trash fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <app-pagination
            [collectionSize]="totalPages"
            [currentPage]="currentPage"
            [pageSize]="25"
            (pageChange)="loadPage($event)">
            </app-pagination>
        </div>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>

