<!--begin::Modal content CREATE-->
<div class="modal-content">
    <!--begin::Modal header-->
    <div class="modal-header" id="kt_modal_add_user_header">
        <!--begin::Modal title-->
        <div class="d-flex flex-column align-items-start mb-2">
            <h2 class="fw-bolder">Lugares de pago para {{BANK_TO_SELECTED.name}}</h2>
        </div>
        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close"
            (click)="modal.dismiss()">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                        fill="currentColor" />
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                        fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
    </div>
    <!--end::Modal header-->
    <!--begin::Modal body-->
    <div class="modal-body mx-5 my-1 p-2">
        <div class="d-flex justify-content-start">
            <!--begin::Add customer-->
            <button type="button" class="btn btn-primary" (click)="crearRelacionBancoComprobante(BANK_TO_SELECTED)">
                Crear relacion
            </button>
            <!--end::Add customer-->
        </div>
        <div class="table-responsive mb-5">
            <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable"
                style="width: 100%">
                <thead>
                    <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-125px">
                            <span class="dt-column-title" role="button">Comprobante</span><span
                                class="dt-column-order"></span>
                        </th>

                        <th class="min-w-80px">
                            <span class="dt-column-title" role="button">Tipo de caracter</span><span
                                class="dt-column-order"></span>
                        </th>

                        <th class="min-w-80px">
                            <span class="dt-column-title" role="button">Caracteres</span><span
                                class="dt-column-order"></span>
                        </th>

                        <th class="min-w-60px">
                            <span class="dt-column-title" role="button">Estado</span><span
                                class="dt-column-order"></span>
                        </th>

                        <th class="min-w-100px">
                            <span class="dt-column-title" role="button">Ubicacion</span><span
                                class="dt-column-order"></span>
                        </th>

                        <th class="min-w-150px">
                            <span class="dt-column-title" role="button">Fecha de registro</span><span
                                class="dt-column-order"></span>
                        </th>

                        <th class="text-center min-w-70px dt-orderable-none d-none d-md-table-cell">
                            <span class="dt-column-title">Acciones</span><span class="dt-column-order"></span>
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="BANK_TO_SELECTED.comprobantes.length > 0; else noData" class="fw-semibold text-gray-600">
                    <tr *ngFor="let B of BANK_TO_SELECTED.comprobantes; let index = index">
                        <td>
                            <div class="d-flex justify-content-start align-items-center gap-2 mx-2">
                                <div class="d-md-none d-flex align-items-center">
                                    <app-buttons-group-list
                                    [index]="index"
                                    [activeDropdownIndex]="activeDropdownIndex"
                                    (dropdownToggle)="handleDropdownToggle($event)">
                                    <ul class="pt-3 px-3 d-flex flex-column gap-2">
                                        <li>
                                        <button class="text-info btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100" (click)="editRelacion(B)">
                                            <div class="d-flex gap-2">
                                            <i class="ki-duotone ki-pencil fs-2 text-info"><span class="path1"></span><span class="path2"></span></i>
                                            Editar
                                            </div>
                                        </button>
                                        </li>
                                        <li>
                                        <button class="text-danger btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100" (click)="deleteRelacion(B)">
                                            <div class="d-flex gap-2">
                                            <i class="ki-duotone ki-trash fs-2 text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                            Eliminar
                                            </div>
                                        </button>
                                        </li>
                                    </ul>
                                    </app-buttons-group-list>
                                </div>
                                <!-- Aquí se muestra el RUC -->
                                <div class="d-flex align-items-center">
                                    <div *ngIf="B.img_ejemplo" class="symbol symbol-50px me-5">
                                        <img [src]="B.img_ejemplo" alt="img" (click)="viewImagen(B.img_ejemplo)">
                                    </div>
                                    <div class="d-flex justify-content-start flex-column">
                                        <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{B.comprobante.name}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            <span class="badge badge-light-success fs-7 fw-bold" *ngIf="B.tipo_caracter == 1">Solo números</span>
                            <span class="badge badge-light-warning fs-7 fw-bold" *ngIf="B.tipo_caracter == 2">Números y letras</span>
                        </td>

                        <td class="text-center">
                            {{B.ncaracteres}}
                        </td>

                        <td>
                            <span class="badge badge-light-success fs-7 fw-bold" *ngIf="B.state_relacion == 1">Activo</span>
                            <span class="badge badge-light-danger fs-7 fw-bold" *ngIf="B.state_relacion == 2">Inactivo</span>
                        </td>

                        <td>
                            {{B.ubicacion_codigo}}
                        </td>

                        <td>
                            {{ B.created_at_relacion }}
                        </td>
                        <td class="d-none d-md-table-cell acciones-container">
                            <ul class="pt-3 px-3 d-flex gap-2">
                                <li>
                                    <button class="text-info btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100" (click)="editRelacion(B)">
                                        <div class="d-flex gap-2">
                                        <i class="ki-duotone ki-pencil fs-2 text-info"><span class="path1"></span><span class="path2"></span></i>
                                        Editar
                                        </div>
                                    </button>
                                    </li>
                                    <li>
                                    <button class="text-danger btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100" (click)="deleteRelacion(B)">
                                        <div class="d-flex gap-2">
                                        <i class="ki-duotone ki-trash fs-2 text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                        Eliminar
                                        </div>
                                    </button>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
            <ng-template #noData>
                <tr>
                    <td colspan="6" class="text-center text-muted">
                        Sin datos
                    </td>
                </tr>
            </ng-template>
        </div>
    </div>
    <!--end::Modal body-->
    <div class="modal-footer d-flex justify-content-center">
        <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss()">Cerrar</button>
    </div>
</div>
