<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6 cabecera">
        <!--begin::Card title-->
        <div class="card-title w-100 w-md-50">
            <!--begin::Search-->
            <div class="d-flex align-items-center w-100 my-1">
                <ng-select 
                  [items]="PRODUCT_LIST"
                  bindLabel="sucursal_name_complete"
                  bindValue="id"
                  placeholder="Buscar por nombre"
                  [searchable]="true"
                  [clearable]="true" 
                  [virtualScroll]="true"  
                  [multiple]="false"
                  [loadingText]="'Cargando...'"
                  [(ngModel)]="search" 
                  (change)="onSearchChange()"
                  name="search"
                  class="w-100">
                  <ng-template ng-option-tmp let-item="item">
                    <div class="mi-custom-option d-flex flex-column gap-2">
                      <h6 style="font-size: 1rem;">{{ item.ruc }} {{ item.nombre_comercial }}</h6>
                      <h6 style="font-size: 1rem; font-weight: 50;">R. Social: {{ item.razon_social }}</h6>
                      <h6 style="font-size: 1rem; font-weight: 50;">{{ item.direccion }}</h6>
                      <h6 style="font-size: 1rem; font-weight: 50;">{{ item.distrito }}/{{ item.provincia }}/{{ item.departamento }}</h6>
                    </div>
                  </ng-template>
                </ng-select>
            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                <!--begin::Add customer-->
                <button type="button" class="btn btn-primary" (click)="createProducto()">
                    Crear producto
                </button>
                <!--end::Add customer-->
            </div>
            <!--end::Toolbar-->
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table-->
        <div id="kt_customers_table_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
            <div id="" class="table-responsive mb-5">
                <table class="table table-auto align-middle table-row-dashed fs-6 gy-5 dataTable" style="width: 100%">
                    <thead>
                      <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-200px">
                          <span class="dt-column-title" role="button">Ruc</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-200px">
                          <span class="dt-column-title" role="button">Nombre Comercial</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-200px">
                          <span class="dt-column-title" role="button">Direccion</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-80px">
                          <span class="dt-column-title" role="button">Forma de pago</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-80px">
                          <span class="dt-column-title" role="button">Deuda</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-80px">
                          <span class="dt-column-title" role="button">Linea de Credito</span><span class="dt-column-order"></span>
                        </th>
                  
                        <th class="min-w-90px">
                          <span class="dt-column-title" role="button">Estado</span><span class="dt-column-order"></span>
                        </th>
                  
                        <th class="min-w-150px">
                          <span class="dt-column-title" role="button">Fecha de registro</span><span class="dt-column-order"></span>
                        </th>
                  
                        <!-- Columna Acciones: Visible solo en pantallas grandes -->
                        <th class="text-center min-w-70px dt-orderable-none d-none d-md-table-cell">
                          <span class="dt-column-title">Acciones</span><span class="dt-column-order"></span>
                        </th>
                      </tr>
                    </thead>
                  
                    <tbody class="fw-semibold text-gray-600">
                      <tr *ngFor="let S of PRODUCT_LIST; let index = index">
                        <td>
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <div class="d-md-none d-flex align-items-center">
                                    <app-buttons-group-list
                                    [index]="index"
                                    [activeDropdownIndex]="activeDropdownIndex"
                                    (dropdownToggle)="handleDropdownToggle($event)">
                                    <ul class="pt-3 px-3 d-flex flex-column gap-2">
                                      <li>
                                        <button (click)="editSucursalCliente(S)" class="text-info btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100">
                                          <div class="d-flex gap-2">
                                            <i class="ki-duotone ki-pencil fs-2 text-info"><span class="path1"></span><span class="path2"></span></i>
                                            Editar
                                          </div>
                                        </button>
                                      </li>
                                      <li>
                                        <button (click)="deleteSucursalCliente(S)" class="text-danger btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100">
                                          <div class="d-flex gap-2">
                                            <i class="ki-duotone ki-trash fs-2 text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                            Eliminar
                                          </div>
                                        </button>
                                      </li>
                                      <li>
                                        <button (click)="gestionarSucursal(S)" class="text-warning btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100">
                                          <div class="d-flex gap-2">
                                            <i class="ki-duotone ki-user-edit fs-2 text-warning"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                            Gestionar
                                          </div>
                                        </button>
                                      </li>
                                      <li>
                                        <button (click)="comunicationClienteSucursal([S.celulares.length,S.celulares,S.nombre_comercial])" class="btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100 text-success">
                                          <div class="d-flex gap-2">
                                            <i class="fa-brands fa-whatsapp fs-2 text-success"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                            Comunicarse
                                          </div>  
                                        </button>
                                      </li>
                                      <li>
                                        <button (click)="comunicationClienteSucursalEmail([S.correos.length,S.correos,S.nombre_comercial])" class="btn btn-bg-light btn-active-color-primary text-primary btn-sm me-1 w-100">
                                          <div class="d-flex gap-2">
                                            <i class="fa-solid fa-envelope fs-2 text-primary"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                            Notificar
                                          </div> 
                                        </button>
                                      </li>
                                    </ul>
                                    </app-buttons-group-list>
                                </div>
                                <!-- Aquí se muestra el RUC -->
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                      <div class="d-flex justify-content-start flex-column">
                                          <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{ S.ruc }}</span>
                                          <span class="text-muted fw-semibold text-muted d-block fs-7">{{ S.razon_social }}</span>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-start flex-column">
                              <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{ S.nombre_comercial }}</span>
                              <span class="text-muted fw-semibold text-muted d-block fs-7">{{ S.categoria_digemid }}</span>
                              <span class="text-muted fw-semibold text-muted d-block fs-7">{{ S.nombre_estado_digemid }}</span>
                            </div>
                          </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-start flex-column">
                              <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{ S.direccion }}</span>
                              <span class="text-muted fw-semibold text-muted d-block fs-7">{{ S.distrito }}/{{ S.provincia }}/{{ S.departamento }} </span>
                            </div>
                          </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                            <div class="p-2 rounded" [ngClass]="getFormaPagoClasses(S.formaPago)">
                              <span class="fw-bold mb-1 fs-6" [ngClass]="getFormaPagoClassesText(S.formaPago)">{{ getFormaPagoTexto(S.formaPago) }}</span>
                            </div>
                          </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-start flex-column">
                              <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">S/ {{ S.deuda }}</span>
                            </div>
                          </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-start flex-column">
                              <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">S/ {{ S.linea_credito }}</span>
                            </div>
                          </div>
                        </td>
                  
                        <td>
                          <span class="badge badge-light-success fs-7 fw-bold" *ngIf="S.state == 1">Activo</span>
                          <span class="badge badge-light-danger fs-7 fw-bold" *ngIf="S.state == 2">Inactivo</span>
                        </td>
                  
                        <td>{{ S.created_at }}</td>
                  
                        <!-- Columna Acciones visible solo en pantallas grandes -->
                        <td class="d-none d-md-table-cell acciones-container">
                          <ul class="pt-3 px-3 d-flex gap-2">
                            <li>
                              <button (click)="editSucursalCliente(S)" class="text-info btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100">
                                <div class="d-flex flex-column align-items-center gap-1">
                                  <i class="ki-duotone ki-pencil fs-2 text-info"><span class="path1"></span><span class="path2"></span></i>
                                  Editar
                                </div>
                              </button>
                            </li>
                            <li>
                              <button (click)="deleteSucursalCliente(S)" class="text-danger btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100">
                                <div class="d-flex flex-column align-items-center gap-1">
                                  <i class="ki-duotone ki-trash fs-2 text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                  Eliminar
                                </div>
                              </button>
                            </li>
                            <li>
                              <button (click)="gestionarSucursal(S)" class="text-warning btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100">
                                <div class="d-flex flex-column align-items-center gap-1">
                                  <i class="ki-duotone ki-user-edit fs-2 text-warning"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                  Gestionar
                                </div>
                              </button>
                            </li>
                            <li>
                              <button (click)="comunicationClienteSucursal([S.celulares.length,S.celulares,S.nombre_comercial])" class="btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100 text-success">
                                <div class="d-flex flex-column align-items-center gap-1"> 
                                  <i class="fa-brands fa-whatsapp fs-2 text-success"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                  Comunicarse
                                </div>
                              </button>
                            </li>
                            <li>
                              <button (click)="comunicationClienteSucursalEmail([S.correos.length,S.correos,S.nombre_comercial])" class="btn btn-bg-light btn-active-color-primary text-primary btn-sm me-1 w-100">
                                <div class="d-flex flex-column align-items-center gap-1">   
                                  <i class="fa-solid fa-envelope fs-2 text-primary"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                  Notificar
                                </div>
                              </button>
                            </li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <app-pagination
            [collectionSize]="totalPages"
            [currentPage]="currentPage"
            [pageSize]="25"
            (pageChange)="loadPage($event)">
            </app-pagination>
        </div>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>