<div class="card">
    <!--begin::Card header-->
    
        <!--begin::Card title-->
        <div class="card-title w-100 p-5">
          <!--begin::Search-->
          <div class="row">
              <!-- Primer select: Buscar por nombre -->
              <div class="col-md-6 col-12 mb-3">
                  <div class="d-flex align-items-center w-100">
                      <ng-select 
                        [items]="PRODUCT_LIST"
                        bindLabel="nombre_completo"
                        bindValue="id"
                        placeholder="Buscar por nombre"
                        [searchable]="true"
                        [clearable]="true" 
                        [virtualScroll]="true"  
                        [multiple]="false"
                        [loadingText]="'Cargando...'"
                        [(ngModel)]="producto_id" 
                        [loading]="loading"
                        (change)="onSearchChange()"
                        name="search"
                        class="w-100">
                        <ng-template ng-option-tmp let-item="item">
                          <div class="mi-custom-option d-flex flex-column gap-2">
                            <h6 style="font-size: 1rem;"><span class="badge badge-light-primary fs-7 fw-bold">{{ item.laboratorio }}</span></h6>
                            <h6 style="font-size: 1rem; font-weight: 50;">{{ item.nombre_completo }}</h6>
                            <h6 style="font-size: 1rem; font-weight: 50;">Precio: S/ {{ item.pventa }}</h6>
                            <h6 style="font-size: 1rem; font-weight: 50;">Stock: {{ item.stock }}</h6>
                            <h6 style="font-size: 1rem; font-weight: 50;">SKU: {{ item.sku }}</h6>
                          </div>
                        </ng-template>
                      </ng-select>
                  </div>
              </div>
      
              <!-- Segundo select: Buscar por laboratorio -->
              <div class="col-md-6 col-12 mb-3">
                  <div class="d-flex align-items-center w-100">
                    <ng-select 
                      [items]="LABORATORIOS_LIST"
                      bindLabel="name"
                      bindValue="id"
                      placeholder="Buscar por laboratorio"
                      [searchable]="true"
                      [clearable]="true" 
                      [virtualScroll]="true"  
                      [multiple]="false"
                      [loadingText]="'Cargando...'"
                      [(ngModel)]="laboratorio_id" 
                      (change)="onSearchChange()"
                      [loading]="loading" 
                      name="search"
                      class="w-100">
                    </ng-select>
                </div>
              </div>
          </div>
          <!--end::Search-->
      
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-start gap-2">
                <!--begin::Add customer-->
                <button type="button" class="btn btn-primary" (click)="createProducto()">
                    Crear producto
                </button>
                <div class="d-flex justify-content-start align-items-center gap-2">
                  <app-button-dropdown-option class="d-md-none">
                    <ul class="list pt-3 px-3 d-flex flex-column gap-2">
                      <li>
                        <button class="badge-light-success btn btn-sm w-100 text-success" (click)="downloadProducts()">
                          <i class="fa-regular fa-file-excel fs-2 text-success"></i>
                          Exportar
                        </button>
                      </li>
                      <li>
                        <button (click)="resetFiltro()" class="badge-light-info btn btn-sm w-100 text-info">
                          <i class="bi bi-x-circle fs-2 text-info"></i>
                          Reset filtro
                        </button>
                      </li>
                      <li>
                        <button (click)="importProduct()" class="badge-light-warning btn btn-sm w-100 text-warning">
                          <i class="ki-duotone ki-update-folder fs-2 text-warning">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                          Importar Excel
                        </button>
                      </li>
                    </ul>
                  </app-button-dropdown-option>

                  <button (click)="downloadProducts()" class="badge-light-success btn btn-sm w-100 d-none text-success h-100 d-md-flex flex-column align-items-center gap-2">
                    <i class="fa-regular fa-file-excel fs-2 text-success"></i>
                    Exportar
                  </button>

                  <button (click)="resetFiltro()" class="badge-light-info btn btn-sm w-100 d-none text-info h-100 d-md-flex flex-column align-items-center gap-2">
                    <i class="bi bi-x-circle fs-2 text-info"></i>
                    Reset filtro
                  </button>

                  <button (click)="importProduct()" class="badge-light-warning btn btn-sm w-100 d-none text-warning h-100 d-md-flex flex-column align-items-center gap-2">
                    <i class="ki-duotone ki-update-folder fs-2 text-warning">
                      <span class="path1"></span>
                      <span class="path2"></span>
                    </i>
                    Importar Excel
                  </button>
                </div>
                <!--end::Add customer-->
            </div>
            <!--end::Toolbar-->
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table-->
        <div id="kt_customers_table_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
            <div id="" class="table-responsive mb-5">
                <table class="table table-auto align-middle table-row-dashed fs-6 gy-5 dataTable" style="width: 100%">
                    <thead>
                      <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-350px">
                          <span class="dt-column-title" role="button">Nombre</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-200px">
                          <span class="dt-column-title" role="button">Laboratorio</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-100px">
                          <span class="dt-column-title" role="button">Precio venta</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-80px">
                          <span class="dt-column-title" role="button">Estado</span><span class="dt-column-order"></span>
                        </th>

                        <th class="min-w-150px dt-orderable-asc dt-orderable-desc" data-dt-column="5" rowspan="1"
                            colspan="1" aria-label="Created Date: Activate to sort" tabindex="0">
                            <span class="dt-column-title" role="button">Fecha de registro</span><span
                                class="dt-column-order"></span>
                        </th>
                  
                        <!-- Columna Acciones: Visible solo en pantallas grandes -->
                        <th class="text-center min-w-70px dt-orderable-none d-none d-md-table-cell">
                          <span class="dt-column-title">Acciones</span><span class="dt-column-order"></span>
                        </th>
                      </tr>
                    </thead>
                  
                    <tbody class="fw-semibold text-gray-600">
                      <tr *ngFor="let P of PRODUCT_LIST; let index = index">
                        <td>
                            <div class="d-flex justify-content-start align-items-center gap-2">
                                <div class="d-md-none d-flex align-items-center">
                                    <app-buttons-group-list
                                    [index]="index"
                                    [activeDropdownIndex]="activeDropdownIndex"
                                    (dropdownToggle)="handleDropdownToggle($event)">
                                    <ul class="list pt-3 px-3 d-flex flex-column gap-2">
                                      <li>
                                        <button (click)="editProducto(P)" class="text-info btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100">
                                          <div class="d-flex gap-2">
                                            <i class="ki-duotone ki-pencil fs-2 text-info"><span class="path1"></span><span class="path2"></span></i>
                                            Editar
                                          </div>
                                        </button>
                                      </li>
                                      <li>
                                        <button (click)="deleteProducto(P)" class="text-danger btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100">
                                          <div class="d-flex gap-2">
                                            <i class="ki-duotone ki-trash fs-2 text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                            Eliminar
                                          </div>
                                        </button>
                                      </li>
                                    </ul>
                                    </app-buttons-group-list>
                                </div>
                                <!-- Aquí se muestra el RUC -->
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center">
                                      <div class="symbol symbol-50px me-5">
                                        <img [src]="P.imagen" class="" alt="img" (click)="viewImagen(P.imagen)">
                                      </div>
                                      <div class="d-flex justify-content-start flex-column">
                                          <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{ P.nombre }}</span>
                                          <span class="text-muted fw-semibold text-muted d-block fs-7">{{ P.caracteristicas }}</span>
                                          <span class="text-muted fw-semibold text-muted d-block fs-7">SKU: {{ P.sku }}</span>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-start flex-column">
                              <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{ P.laboratorio }}</span>
                              <span class="text-muted fw-semibold text-muted d-block fs-7">{{ P.linea_farmaceutica }}</span>
                            </div>
                          </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                            <div class="d-flex justify-content-start flex-column">
                              <span class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">S/ {{ P.pventa }}</span>
                              <span class="text-muted fw-semibold text-muted d-block fs-7">Stock: {{ P.stock }}</span>
                            </div>
                          </div>
                        </td>

                  
                        <td>
                          <span class="badge badge-light-success fs-7 fw-bold" *ngIf="P.state == 1">Activo</span>
                          <span class="badge badge-light-danger fs-7 fw-bold" *ngIf="P.state == 2">Inactivo</span>
                        </td>

                        <td>
                          {{ P.created_at }}
                        </td>
                  
                        <!-- Columna Acciones visible solo en pantallas grandes -->
                        <td class="d-none d-md-table-cell acciones-container">
                          <ul class="list pt-3 px-3 d-flex gap-2">
                            <li>
                              <button (click)="editProducto(P)" class="text-info btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100">
                                <div class="d-flex flex-column align-items-center gap-1">
                                  <i class="ki-duotone ki-pencil fs-2 text-info"><span class="path1"></span><span class="path2"></span></i>
                                  Editar
                                </div>
                              </button>
                            </li>
                            <li>
                              <button (click)="deleteProducto(P)" class="text-danger btn btn-bg-light btn-active-color-primary btn-sm me-1 w-100">
                                <div class="d-flex flex-column align-items-center gap-1">
                                  <i class="ki-duotone ki-trash fs-2 text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                  Eliminar
                                </div>
                              </button>
                            </li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <app-pagination
            [collectionSize]="totalPages"
            [currentPage]="currentPage"
            [pageSize]="25"
            (pageChange)="loadPage($event)">
            </app-pagination>
        </div>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>