<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5"><span class="path1"></span><span
                        class="path2"></span></i>
                <input type="text" data-kt-customer-table-filter="search" [(ngModel)]="search" (keyup.enter)="listTransporteOrdenVenta()" name="search"
                    class="form-control form-control-solid w-250px ps-12" placeholder="Buscar por ruc o nombre" />
            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                <!--begin::Add customer-->
                <button type="button" (click)="createTransporteOrdenVenta()" class="btn btn-primary">
                    Crear transporte
                </button>
                <!--end::Add customer-->
            </div>
            <!--end::Toolbar-->
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table-->
        <div id="kt_customers_table_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
            <div id="" class="table-responsive mb-5">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable" style="width: 100%">
                    <thead>
                      <tr class="text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                        <th class="text-center min-w-200px dt-orderable-asc dt-orderable-desc">
                          Ruc
                        </th>
                        <th class="text-center min-w-200px dt-orderable-asc dt-orderable-desc">
                          Direccion
                        </th>
                        <th class="text-center min-w-125px dt-orderable-asc dt-orderable-desc">
                          Celular
                        </th>

                        <th class="text-center min-w-125px dt-orderable-asc dt-orderable-desc">
                          Estado
                        </th>
                  
                        <th class="text-center min-w-125px dt-orderable-asc dt-orderable-desc">
                          Fecha de registro
                        </th>
                  
                        <!-- Columna Acciones: Visible solo en pantallas grandes -->
                        <th class="text-center min-w-70px dt-orderable-none d-none d-md-table-cell">
                          Acciones
                        </th>
                      </tr>
                    </thead>
                  
                    <tbody class="fw-semibold text-gray-600">
                      <tr *ngIf="TRANSPORTES_LIST.length === 0">
                        <td colspan="6" class="text-center py-10">
                          <div class="d-flex flex-column align-items-center">
                            <img src="./assets/images/carrito-vacio.png" alt="Carrito vacío" width="120">
                            <span class="text-gray-500 fs-6">No se encontraron datos</span>
                          </div>
                        </td>
                      </tr>
                      <tr *ngFor="let R of TRANSPORTES_LIST; let index = index">
                        <td>
                          <div class="d-md-none">
                            <app-buttons-group-list
                            class="mt-5"
                            [index]="index"
                            [activeDropdownIndex]="activeDropdownIndex"
                            (dropdownToggle)="handleDropdownToggle($event)">
                                <ul class="pt-3 px-3 d-flex flex-column no-wrap gap-2">
                                  <li>
                                    <button
                                      class="text-info btn btn-bg-light btn-active-color-primary btn-sm"
                                      (click)="editTransporteOrdenVenta(R)">
                                      <i class="ki-duotone ki-pencil fs-2 text-info">
                                        <span class="path1"></span><span class="path2"></span>
                                      </i>
                                      Editar
                                    </button>
                                  </li>
                                  <li>
                                      <button class="text-danger btn btn-bg-light btn-active-color-primary btn-sm" (click)="deleteTransporteOrdenVenta(R)">
                                        <i class="ki-duotone ki-trash fs-2 text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                        Eliminar
                                      </button>
                                  </li>
                                </ul>
                            </app-buttons-group-list>
                          </div>
                          
                          <div class="d-flex justify-content-center">
                              <div class="d-flex flex-column align-items-center gap-2">
                                <span class="text-gray-900 fw-bold fs-6">{{ R.ruc }}</span>
                                <span class="fs-7 fw-bold">{{R.name}}</span>
                                <div class="text-center">
                                  <span class="badge badge-light-warning fs-7 fw-bold" *ngIf="R.solicita_guia == 0">No solicita guia</span>
                                  <span class="badge badge-light-success fs-7 fw-bold" *ngIf="R.solicita_guia == 1">Solicita guia</span>
                                </div>
                                <span class="fs-7 fw-bold">{{R.razonSocial}}</span>
                              </div>
                          </div>
                        </td>
                        <td>
                          <div class="text-center">
                            {{R.direccion}}
                          </div>
                        </td>
                        <td>
                        </td>
  
                        <td>
                            <div class="text-center mb-2">
                              <span class="badge badge-light-danger fs-7 fw-bold" *ngIf="R.state == 0">Inactivo</span>
                              <span class="badge badge-light-success fs-7 fw-bold" *ngIf="R.state == 1">Activo</span>
                          </div>
                        </td>
                  
                        <td>
                          <div class="text-center">
                            {{ R.created_at }}
                          </div>
                        </td>
                  
                        <!-- Columna Acciones visible solo en pantallas grandes -->
                        <td class="d-none d-md-table-cell">
                          <ul class="pt-3 px-3 d-flex gap-2 justify-content-center">
                            <li>
                              <button
                                class="text-info btn btn-bg-light btn-active-color-primary btn-sm"
                                (click)="editTransporteOrdenVenta(R)">
                                <div class="d-flex flex-column align-items-center gap-1">
                                  <i class="ki-duotone ki-pencil fs-2 text-info">
                                    <span class="path1"></span><span class="path2"></span>
                                  </i>
                                  Editar
                                </div>
                              </button>
                            </li>
                            <li>
                                <button class="text-danger btn btn-bg-light btn-active-color-primary btn-sm" (click)="deleteTransporteOrdenVenta(R)">
                                    <div class="d-flex flex-column align-items-center gap-1">
                                        <i class="ki-duotone ki-trash fs-2 text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                    Eliminar
                                    </div>
                                </button>
                            </li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <app-pagination
            [collectionSize]="totalPages"
            [currentPage]="currentPage"
            [pageSize]="25"
            (pageChange)="loadPage($event)">
            </app-pagination>
        </div>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
  </div>
  

