<div class="card mb-3">
    <div class="card-body">
    <h3 class="card-title">ORDEN DE COMPRA:<span class="text-warning"> {{ ORDER.codigo }}</span></h3>
    <h3 class="card-text">PROVEEDOR:<span class="text-warning"> {{ ORDER.proveedor }}</span></h3>
    <h3 class="card-text">COMPROBANTE:<span class="text-warning"> {{ ORDER.comprobante }}</span></h3>
    <h3 class="card-text" *ngIf="comprobantes > 0">NUMERO DE COMPROBANTES:<span class="text-warning"> {{ comprobantes }}</span></h3>
    </div>
</div>
<div class="card mb-5">
    <div class="card-header">
        <div class="card-title">
            <h3>Comprobantes de la orden</h3>
        </div>
    </div>
    <div class="table-responsive">
        <div class="card-body">
            <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                <thead>
                    <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-150px text-center">Comprobante</th>
                        <th class="min-w-100px text-center">IGV</th>
                        <th class="min-w-100px text-center">Fecha de emisión</th>
                        <th class="min-w-70px text-center">Modo de pago</th>
                        <th class="min-w-100px text-center">Comentario</th>
                        <th class="min-w-100px text-center">Monto</th>
                    </tr>
                </thead>
                <tbody class="fw-semibold text-gray-600">
                    <tr *ngFor="let p of COMPROBANTES_LIST">
                        <td class="text-center">
                            {{p.serie}} - {{p.ncomprobante}} 
                        </td>
                        <td class="text-center">
                            <span class="badge badge-light-success fs-5 fw-bold" *ngIf="p.igv">
                                Incluye IGV
                            </span>

                            <span class="badge badge-light-warning fs-5 fw-bold" *ngIf="!p.igv">
                                No incluye IGV
                            </span>
                        </td>
                        <td class="text-center">
                            {{p.fecha_emision | date:'dd/MM/yyyy'}}
                        </td>
                        <td class="text-center">
                            {{p.modo_pago}}    
                        </td>
                        <td class="text-center">
                            {{p.comentario}} 
                        </td>
                        <td class="text-center">
                            S/ {{p.total}} 
                            <br>
                            <span class="badge badge-light-success fs-6 fw-bold">
                                IGV: {{p.igv_costo}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
