.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);  /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;  /* Asegura que esté por encima de otros elementos */
  }
  
  .loading-content {
    text-align: center;
    color: white;
  }
  
  .loading-text {
    margin-top: 10px;
    font-size: 1.2em;
  }