<div class="card-body">
    <!--begin::Nav-->
    <ul class="nav row position-relative mx-0 mb-9 d-none d-md-flex gap-2 rounded shadow-sm bg-light p-4" role="tablist">
        <!--begin::Item-->
        <li class="col d-flex justify-content-center p-0">
            <a class="nav-item border-1 d-flex justify-content-center align-items-center gap-2" routerLinkActive="active" routerLink="/configuraciones/atributos-producto/laboratorios/list">
                <i class="fas fa-flask fa-lg fs-1"></i>
                <span class="nav-text fw-bold fs-6 text-center">
                    Laboratorios
                </span>
            </a>
        </li>
        <!--end::Item-->

        <!--begin::Item-->
        <li class="nav-item col d-flex justify-content-center p-0">
            <a class="nav-item border-1 d-flex justify-content-center align-items-center gap-2" routerLinkActive="active" routerLink="/configuraciones/atributos-producto/principios-activos/list">
                <i class="fas fa-capsules fa-lg fs-1"></i>
                <span class="nav-text fw-bold fs-6 text-center">
                    Principios Activos
                </span>
            </a>
        </li>
        <!--end::Item-->

        <!--begin::Item-->
        <li class="nav-item col d-flex justify-content-center p-0">
            <a class="nav-item border-0 d-flex justify-content-center align-items-center gap-2" routerLinkActive="active" routerLink="/configuraciones/atributos-producto/categorias/list">
                <i class="fas fa-tags fa-lg fs-1"></i>
                <span class="nav-text fw-bold fs-6 text-center">
                    Categorias
                </span>
            </a>
        </li>
        <!--end::Item-->

        <!--begin::Item-->
        <li class="nav-item col d-flex justify-content-center p-0">
            <a class="nav-item border-0 d-flex justify-content-center align-items-center gap-2" routerLinkActive="active" routerLink="/configuraciones/atributos-producto/fabricantes-productos/list">
                <i class="fas fa-industry fa-lg fs-1"></i>
                <span class="nav-text fw-bold fs-6 text-center">
                    Fabricantes
                </span>
            </a>
        </li>
        <!--end::Item-->

        <!--begin::Item-->
        <li class="nav-item col d-flex justify-content-center p-0">
            <a class="d-flex border-0 justify-content-center align-items-center gap-2 nav-item" routerLinkActive="active" routerLink="/configuraciones/atributos-producto/lineas-farmaceuticas/list">
                <i class="fas fa-pills fa-lg fs-1"></i>
                <span class="nav-text fw-bold fs-6 text-center">
                    Lineas Farmaceuticas
                </span>
            </a>
        </li>
        <!--end::Item-->
    </ul>
    <!--end::Nav-->

    <!-- Botón para pantallas pequeñas -->
    <div class="d-md-none mb-3">
        <button class="btn btn-primary w-100 d-flex flex-column align-items-center" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            <div>
                <i [ngClass]="getIconForSection(selectedSection)" class="fs-3 mb-2"></i>
                <span class="nav-text fw-bold fs-4 text-center">
                    {{ selectedSection }}
                </span>
            </div>
            <span class="nav-text fw-light fs-7 text-center">
                Presiona para ir a otras secciones
            </span>
        </button>
    
        <!-- Menú desplegable -->
        <div *ngIf="isMenuCollapsed" class="mt-3 px-4 py-3 rounded shadow-sm bg-light">
            <ul class="nav flex-column text-center">
                <li class="nav-item-peque">
                    <a class="nav-item-peque shadow-sm" 
                       [routerLink]="'/configuraciones/atributos-producto/laboratorios/list'" 
                       (click)="setSelectedSection('Laboratorios')"
                       [ngClass]="{'active': selectedSection === 'Laboratorios'}">
                        <i class="fas fa-flask fa-lg fs-3"></i>
                        Laboratorios
                    </a>
                </li>
                <li class="nav-item-peque">
                    <a class="nav-item-peque shadow-sm" 
                       [routerLink]="'/configuraciones/atributos-producto/principios-activos/list'" 
                       (click)="setSelectedSection('Principios Activos')"
                       [ngClass]="{'active': selectedSection === 'Principios Activos'}">
                        <i class="fas fa-capsules fa-lg fs-3"></i>
                        Principios Activos
                    </a>
                </li>
                <li class="nav-item-peque">
                    <a class="nav-item-peque shadow-sm" 
                       [routerLink]="'/configuraciones/atributos-producto/categorias/list'" 
                       (click)="setSelectedSection('Categorias')"
                       [ngClass]="{'active': selectedSection === 'Categorias'}">
                        <i class="fas fa-tags fa-lg fs-3"></i>
                        Categorias
                    </a>
                </li>
                <li class="nav-item-peque">
                    <a class="nav-item-peque shadow-sm" 
                       [routerLink]="'/configuraciones/atributos-producto/fabricantes-productos/list'" 
                       (click)="setSelectedSection('Fabricantes')"
                       [ngClass]="{'active': selectedSection === 'Fabricantes'}">
                        <i class="fas fa-industry fa-lg fs-3"></i>
                        Fabricantes
                    </a>
                </li>
                <li class="nav-item-peque">
                    <a class="nav-item-peque shadow-sm" 
                       [routerLink]="'/configuraciones/atributos-producto/lineas-farmaceuticas/list'" 
                       (click)="setSelectedSection('Lineas Farmaceuticas')"
                       [ngClass]="{'active': selectedSection === 'Lineas Farmaceuticas'}">
                        <i class="fas fa-pills fa-lg fs-3"></i>
                        Lineas Farmaceuticas
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--begin::Tab Content-->
    <div class="tab-content">
        <!--begin::Tap pane-->
        <div class="tab-pane fade show active">
            <router-outlet></router-outlet>
        </div>
        <!--end::Tap pane-->
    </div>
    <!--end::Tab Content-->
</div>