<div class="d-flex justify-content-center align-items-center mb-4 stepper">
  <!-- Paso 1 -->
  <div class="d-flex align-items-center me-2 step" [ngClass]="{ 'active': pasoActual === 1, 'completed': pasoActual > 1 }">
    <div class="box me-2">1</div>
    <div class="label">Selección de productos</div>
  </div>

  <!-- Línea intermedia -->
  <div class="step-line mx-2"></div>

  <!-- Paso 2 -->
  <div class="d-flex align-items-center ms-2 step" [ngClass]="{ 'active': pasoActual === 2, 'completed': pasoActual > 2 }">
    <div class="box me-2">2</div>
    <div class="label">Detalles de venta</div>
  </div>
</div>


<div *ngIf="pasoActual === 1">
  <app-paso1 (onPaso1Listo)="irAlPaso2($event)"></app-paso1>
</div>

<div *ngIf="pasoActual === 2">
  <app-paso2
    [cliente]="clienteSeleccionado"
    [clientes]="CLIENTES_LIST"
    [transportes]="TRANSPORTES_LIST"
    (onVentaCompleta)="registrarVentaFinal($event)"
    (onRegresarPaso1)="irAlPaso1()">
  </app-paso2>
</div>