.stepper {
  position: relative;
}

.step .box {
  width: 44px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef; /* gris claro */
  color: #0d6efd; /* azul Bootstrap */
  transition: all 0.3s ease;
}

.step.active .box {
  background-color: #0d6efd; /* azul */
  color: white;
}

.step.completed .box {
  background-color: #198754; /* verde */
  color: white;
}

.step .label {
  color: inherit;
}

.step-line {
  flex-grow: 1;
  height: 2px;
  background-color: #dee2e6; /* gris */
  min-width: 30px;
}
