.menu {
    display: block; /* Esto asegurará que el menú se muestre */
    position: absolute; /* Esto lo posicionará fuera del flujo normal de la página */
    z-index: 1000; /* Esto hará que se muestre por encima de otros elementos */
  }
  