<!-- Modal content -->
<div class="modal-content">
    <!-- Modal header -->
    <div class="modal-header">
        <h2 class="fw-bolder">{{ user }} configuremos lotes para: <br>
            <span class="text-success">{{PRODUCT_ID.laboratorio}}</span><br>
            {{PRODUCT_ID.nombre_completo}}<br>
            Stock: {{stock}}
        </h2>
        <button type="button" class="btn btn-icon btn-sm btn-active-icon-primary" (click)="modal.dismiss()">
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                        fill="currentColor" />
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                        fill="currentColor" />
                </svg>
            </span>
        </button>
    </div>
    <!-- Modal body -->
    <div class="modal-body pb-2"> 
        <div class="d-flex justify-content-between align-items-center mb-3">
            <button type="button" class="btn btn-info">
                Numero de lotes: {{LOTES_LIST.length}}
            </button>
            <button type="button" class="btn btn-primary" (click)="createLote()">
                Crear lote
            </button>
        </div>
        
        <div class="d-flex mb-10 gap-3">
            <button type="button" class="btn btn-success w-50">
                Lotes activos: {{ lotes_activos }}
            </button>
            <button type="button" class="btn btn-danger w-50">
                Lotes inactivos: {{ lotes_inactivos }}
            </button>
        </div>
        
        <app-div-loading *ngIf="isLoading; else showData">
        </app-div-loading>
        <ng-template #showData>
            <ng-container *ngIf="LOTES_LIST.length > 0; else noResults">
                <div class="table-responsive">
                    <table class="table table-row-dashed table-row-gray-300 align-middle">
                        <!--begin::Table head-->
                        <thead>
                            <tr>
                                <th class="text-center min-w-60px">Lote</th>
                                <th class="text-center min-w-60px">Fecha vencimiento</th>
                                <th class="text-center min-w-60px">Stock</th>
                                <th class="text-center min-w-60px">Estado</th>
                                <th class="text-center d-none d-md-table-cell">Acciones</th>
                            </tr>
                        </thead>
                        <!--end::Table head-->
        
                        <!--begin::Table body-->
                        <tbody>
                            <tr *ngFor="let e of LOTES_LIST; let index = index">
                                <td class="d-md-table-cell text-md-center">
                                    <div class="d-flex align-items-center gap-2">
                                        <div class="d-md-none d-flex align-items-center">
                                            <app-buttons-group-list
                                            [index]="index"
                                            [activeDropdownIndex]="activeDropdownIndex"
                                            (dropdownToggle)="handleDropdownToggle($event)">
                                            <ul class="list pt-3 px-3 d-flex flex-column gap-2">
                                              <li>
                                                <button 
                                                (click)="stateEscalaDesactiveActivate(e)" 
                                                [ngClass]="{
                                                    'text-warning': e.state == 1,
                                                    'text-success': e.state == 0
                                                }" 
                                                class="btn btn-bg-light btn-active-color-primary btn-sm w-100">
                                                <div class="d-flex flex-column align-items-center gap-1">
                                                    <i *ngIf="e.state == 0" class="ki-duotone ki-like text-success fs-3">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </i>
            
                                                    <i *ngIf="e.state == 1" class="ki-duotone ki-dislike text-warning fs-3">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </i>
                                                    <span class="fs-7" *ngIf="e.state == 1">Desactivar</span>
                                                    <span class="fs-7" *ngIf="e.state == 0">Activar</span>
                                                </div>
                                                </button>
                                              </li>
                                              <li>
                                                <button (click)="editLote(e)" class="text-info btn btn-bg-light btn-active-color-primary btn-sm w-100" [disabled]="e.state == 0">
                                                    <div class="d-flex flex-column align-items-center gap-1">
                                                      <i class="ki-duotone ki-pencil fs-3 text-info"><span class="path1"></span><span class="path2"></span></i>
                                                      <span class="fs-7">Editar</span>
                                                    </div>
                                                  </button>
                                              </li>
                                              <li>
                                                <button (click)="deleteLote(e)" class="text-danger btn btn-bg-light btn-active-color-primary btn-sm w-100">
                                                    <div class="d-flex flex-column align-items-center gap-1 fs-3">
                                                      <i class="ki-duotone ki-trash fs-3 text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                                      <span class="fs-7">Eliminar</span>
                                                    </div>
                                                  </button>
                                              </li>
                                            </ul>
                                            </app-buttons-group-list>
                                        </div>
                                        <div class="d-flex">
                                            <span class="text-gray-900 fw-bold fs-6 ms-2">{{ e.lote }}</span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span class="text-gray-900 fw-bold fs-6">
                                      {{ e.fecha_vencimiento }}
                                    </span><br>
                                    <span *ngIf="e.dias_faltantes > 0" class="badge badge-light-primary fs-7 fw-bold">
                                        A {{ e.dias_faltantes }} días de vencer
                                    </span>
                                    <span *ngIf="e.dias_faltantes === null"></span>
                                    <span *ngIf="e.dias_faltantes == 0" class="badge badge-light-warning fs-7 fw-bold">
                                        Vence hoy
                                    </span>
                                    <span *ngIf="e.dias_faltantes < 0" class="badge badge-light-danger fs-7 fw-bold">
                                        Venció hace {{ getAbsoluteValue(e.dias_faltantes) }} días
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span class="text-gray-900 fw-bold fs-6">{{ e.cantidad }}</span>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-light-success fs-7 fw-bold" *ngIf="e.state == 1">Activo</span>
                                    <span class="badge badge-light-danger fs-7 fw-bold" *ngIf="e.state == 0">Inactivo</span>
                                </td>
                                <td class="d-none d-md-table-cell acciones-container">
                                    <ul class="d-flex gap-2 mb-0 justify-content-center">
                                      <li>
                                        <button 
                                        (click)="stateEscalaDesactiveActivate(e)" 
                                        [ngClass]="{
                                            'text-warning': e.state == 1,
                                            'text-success': e.state == 0
                                        }" 
                                        class="btn btn-bg-light btn-active-color-primary btn-sm w-100">
                                        <div class="d-flex flex-column align-items-center gap-1">
                                            <i *ngIf="e.state == 0" class="ki-duotone ki-like text-success fs-3">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
    
                                            <i *ngIf="e.state == 1" class="ki-duotone ki-dislike text-warning fs-3">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                            <span class="fs-7" *ngIf="e.state == 1">Desactivar</span>
                                            <span class="fs-7" *ngIf="e.state == 0">Activar</span>
                                        </div>
                                        </button>
                                      </li>
                                      <li>
                                        <button (click)="editLote(e)" class="text-info btn btn-bg-light btn-active-color-primary btn-sm w-100" [disabled]="e.state == 0">
                                          <div class="d-flex flex-column align-items-center gap-1">
                                            <i class="ki-duotone ki-pencil fs-3 text-info"><span class="path1"></span><span class="path2"></span></i>
                                            <span class="fs-7">Editar</span>
                                          </div>
                                        </button>
                                      </li>
                                      <li>
                                        <button (click)="deleteLote(e)" class="text-danger btn btn-bg-light btn-active-color-primary btn-sm w-100">
                                          <div class="d-flex flex-column align-items-center gap-1 fs-3">
                                            <i class="ki-duotone ki-trash fs-3 text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                            <span class="fs-7">Eliminar</span>
                                          </div>
                                        </button>
                                      </li>
                                    </ul>
                                  </td>
                            </tr>
                        </tbody>
                        <!--end::Table body-->
                    </table>
                </div>
            </ng-container>
            <ng-template #noResults>
                <div class="alert alert-warning text-center mt-3">
                    <strong>El producto no cuenta con lotes</strong>
                </div>
            </ng-template>
        </ng-template>
    </div>
    <div class="modal-footer d-flex justify-content-center">
        <button type="reset" class="btn btn-light" (click)="modal.dismiss()">Cerrar</button>
    </div>
</div>

