<div class="card card-flush py-4 flex-row-fluid overflow-hidden">
    <div class="card-header">
        <div class="card-title">
            <h2>Orden: {{ORDER_COMPRA.codigo}} <span class="text-primary">{{ORDER_COMPRA.proveedor}}</span> </h2>
        </div>
    </div>

    <div class="card-body pt-0">
        <h3>COMPROBANTES</h3>
        <div class="table-responsive">
            <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                <thead>
                    <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-175px text-center">Comprobante</th>
                        <th class="min-w-100px text-center">Fecha de emision</th>
                        <th class="min-w-100px text-center">Fecha de vencimiento</th>
                        <th class="min-w-70px text-center">Modo de pago</th>
                        <th class="min-w-100px text-center">Monto</th>
                        <th class="min-w-100px text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody class="fw-semibold text-gray-600">
                    <tr *ngFor="let p of COMPROBANTES">
                        <td class="text-center">
                            {{p.serie}}-{{p.n_documento}}
                        </td>
                        <td class="text-center">
                            {{p.fecha_emision | date:'dd/MM/yyyy' }}
                        </td>
                        <td class="text-center">
                            {{p.fecha_emision | date:'dd/MM/yyyy'}}
                        </td>
                        <td class="text-center">
                            {{p.modo_pago}}
                        </td>
                        <td class="text-center">
                            <div class="d-flex flex-column align-items-center gap-2">
                                <span>S/ {{p.monto_real}}</span>
                                <span *ngIf="p.monto_real != p.total" class="badge badge-light-primary fs-5 fw-bold">
                                    S/ {{p.total}}
                                </span>
                                <span *ngIf="p.monto_real != p.total" class="badge badge-light-warning fs-5 fw-bold">
                                    Diferencia S/ {{ (p.monto_real - p.total) | number: '1.2-2' }}
                                </span>
                            </div>  
                        </td>
                        <td>
                            <ul class="pt-3 px-3 d-flex gap-2 justify-content-center">
                              <li>
                                <button (click)="verMercaderia(p)" class="text-success btn btn-bg-light btn-active-color-primary btn-sm">
                                  <div class="d-flex flex-column align-items-center gap-1">
                                    <i class="ki-duotone ki-lots-shopping fs-2 text-success">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                        <span class="path6"></span>
                                        <span class="path7"></span>
                                        <span class="path8"></span>
                                    </i>
                                    Mercaderia
                                  </div>
                                </button>
                              </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="GUIAS_DEVOLUCION.length > 0" class="card-body pt-0">
        <h3>GUIAS DE DEVOLUCION</h3>
        <div class="table-responsive">
            <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                <thead>
                    <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                        <th class="min-w-175px text-center">Comprobante</th>
                        <th class="min-w-100px text-center">Fecha de creacion</th>
                        <th class="min-w-100px text-center">Descripcion</th>
                        <th class="min-w-70px text-center">Estado</th>
                        <th class="min-w-100px text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody class="fw-semibold text-gray-600">
                    <tr *ngFor="let p of GUIAS_DEVOLUCION">
                        <td class="text-center">
                            {{p.serie}}-{{p.correlativo}}
                        </td>
                        <td class="text-center">
                            {{p.created_at | date:'dd/MM/yyyy' }}
                        </td>
                        <td class="text-center">
                            {{p.descripcion}}
                        </td>
                        <td class="text-center">
                            {{p.state}}
                        </td>
                        <td>
                            <ul class="pt-3 px-3 d-flex gap-2 justify-content-center">
                              <li>
                                <button (click)="verMercaderia(p)" class="text-success btn btn-bg-light btn-active-color-primary btn-sm">
                                  <div class="d-flex flex-column align-items-center gap-1">
                                    <i class="ki-duotone ki-lots-shopping fs-2 text-success">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                        <span class="path6"></span>
                                        <span class="path7"></span>
                                        <span class="path8"></span>
                                    </i>
                                    Mercaderia
                                  </div>
                                </button>
                              </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="reset" id="kt_modal_add_event_cancel" class="btn btn-light me-3 mt-5" (click)="modal.dismiss()">
            Cerrar
        </button>
    </div>
</div>
