<!--begin::Modal content CREATE-->
<div class="modal-content">
    <!--begin::Modal header-->
    <div class="modal-header" id="kt_modal_add_user_header">
        <!--begin::Modal title-->
        <h2 class="fw-bolder">Crear lugar de entrega</h2>

        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close"
            (click)="modal.dismiss()">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                        fill="currentColor" />
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                        fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
    </div>
    <!--end::Modal header-->
    <!--begin::Modal body-->
    <div class="modal-body scroll-y mx-5 my-7">
        <!--begin::Form-->
        <form id="kt_modal_add_user_form" class="form" action="#">
            <!--begin::Scroll-->
            <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true"
                data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
                data-kt-scroll-dependencies="#kt_modal_add_user_header"
                data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
                <div class="fv-row mb-7">
                    <!--begin::Label-->
                    <label class="fw-bold fs-6 mb-2">Direccion:</label>
                    <textarea class="form-control form-control-solid" rows="3" name="address" [(ngModel)]="address" placeholder="Direccion del lugar de entrega"></textarea>
                </div>
                <div class="fv-row mb-7">
                    <div class="d-flex justify-content-between align-items-center">
                        <label class="fw-bold fs-6 mb-2">Ubicación en mapa</label>
                        <button type="button" class="btn btn-primary mb-4" (click)="obtenerUbicacionActual()">
                        Usar mi ubicación
                        </button>
                    </div>
                    <div class="fv-row mb-7">
                        <span *ngIf="distrito" class="mb-3">Distrito: {{distrito}}</span>
                        <input type="text" class="form-control" [value]="coordenadas" readonly />
                    </div>
                    <div id="map_lugar" style="height: 300px;"></div>
                </div>
                <div class="fv-row mb-7">
                    <label class="fw-bold fs-6 mb-2">Foto de referencia del establecimiento</label>

                    <!-- Contenedor de botones en fila -->
                    <div class="d-flex gap-2 mb-3">
                        <!-- Botón para tomar una foto -->
                        <input
                        type="file"
                        accept="image/*"
                        capture="environment"
                        hidden
                        #cameraInput
                        (change)="onImagenSeleccionada($event)"
                        />
                        <button type="button" class="btn btn-primary" (click)="cameraInput.click()">
                        Tomar foto
                        </button>

                        <!-- Botón para seleccionar desde archivos -->
                        <input
                        type="file"
                        accept="image/*"
                        hidden
                        #fileInput
                        (change)="onImagenSeleccionada($event)"
                        />
                        <button type="button" class="btn btn-secondary" (click)="fileInput.click()">
                        Seleccionar imagen
                        </button>
                    </div>

                    <!-- Vista previa de la imagen -->
                    <img
                        *ngIf="imagenPreview"
                        [src]="imagenPreview"
                        alt="Imagen seleccionada"
                        class="mt-3 rounded"
                        style="max-width: 100%;"
                    />
                </div>
            </div>
            <!--end::Scroll-->

            <!--begin::Actions-->
            <div class="text-center pt-15">
                <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss()">Cerrar</button>
                <button type="button" (click)="store()" class="btn btn-primary" data-kt-users-modal-action="submit">
                    <span class="indicator-label">Registrar</span>
                </button>
            </div>
            <!--end::Actions-->
        </form>
        <!--end::Form-->
    </div>
    <!--end::Modal body-->
</div>
<!--end::Modal content CREATE-->

