<!--begin::Modal content CREATE-->
<div class="modal-content">
    <!--begin::Modal header-->
    <div class="modal-header" id="kt_modal_add_user_header">
        <!--begin::Modal title-->
        <div class="d-flex flex-column align-items-start mb-2">
            <h2 class="fw-bolder">Gestionar sucursal: {{CLIENTE_SUCURSAL_TO_SELECTED.nombre_comercial}}</h2>
            <h2 class="fw-bolder">{{CLIENTE_SUCURSAL_TO_SELECTED.ruc}}</h2>
            <h2 class="fw-bolder">{{CLIENTE_SUCURSAL_TO_SELECTED.razon_social}}</h2>
        </div>
        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close"
            (click)="modal.dismiss()">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
            <span class="svg-icon svg-icon-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                        fill="currentColor" />
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                        fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
    </div>
    <!--end::Modal header-->
    <!--begin::Modal body-->
    <div class="modal-body mx-5 my-1 p-2">
        <form [formGroup]="clienteGestionarSucursalForm" (ngSubmit)="onSubmit()">
            <div class="py-2">
              
                  <div class="fv-row mb-7">
                    <label class="required fw-bold fs-6 mb-2" for="formaPago">Modo de pago</label>
                    <input
                      id="razon_social"
                      type="text"
                      class="form-control mb-3 mb-lg-0"
                      formControlName="razon_social"
                      placeholder="Ingrese la razón social"
                      autocomplete="off"
                    />
                    <select formControlName="formaPago">
                        <option value="">Seleccione una opcion</option>
                        <option value="1">Credito</option>
                        <option value="2">Contado</option>
                        <option value="3">Credito/Contado</option>
                    </select>
                    <div *ngIf="clienteGestionarSucursalForm.get('formaPago')?.touched && clienteGestionarSucursalForm.get('razon_social')?.invalid" class="text-danger">
                      <span *ngIf="clienteGestionarSucursalForm.get('formaPago')?.errors?.['required']">La forma de pago es obligatoria.</span>
                    </div>
                  </div>
      
                  <div class="fv-row mb-3">
                      <!--begin::Label-->
                      <label class="required fw-bold fs-6 mb-2">Tipo facturacion</label>
                      <select
                          class="form-control form-select-solid fw-bolder"
                          formControlName="modo_facturacion_id"
                      > 
                          <!-- <option value="">Sel</option> -->
                          <option value="" disabled selected>Selecciona una opcion</option>
                          <option *ngFor="let tipo of T_FACTURACION" [value]="tipo.id">
                            {{ tipo.nombre }}
                            </option>
                      </select>
                      <div *ngIf="clienteGestionarSucursalForm.get('modo_facturacion_id')?.touched && clienteGestionarSucursalForm.get('modo_facturacion_id')?.invalid" class="text-danger">
                        <span *ngIf="clienteGestionarSucursalForm.get('modo_facturacion_id')?.errors?.['required']">El estado es obligatorio</span>
                      </div>
                  </div>
            </div>

            <div class="text-center pt-4">
                <button type="reset" class="btn btn-light me-3" (click)="modal.dismiss()">Cerrar</button>
                <button type="submit" class="btn btn-primary" [disabled]="clienteGestionarSucursalForm.invalid">Registrar</button>
            </div>
          </form>
    </div>
    <!--end::Modal body-->
</div>
