.escala-card {
  background-color: #e6f2ff; /* un azul clarito */
  border: 1px solid #a3c7ff;
  border-radius: 6px;
  max-width: 280px;
}

.escala-icon {
  font-size: 1.5rem;
  color: #007bff; /* azul intenso */
}