<div class="modal-content">
    <!--begin::Form-->
    <form class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#" id="kt_modal_add_event_form">
        <!--begin::Modal header-->
        <div class="modal-header">
            <!--begin::Modal title-->
            <h2 class="fw-bold" data-kt-calendar="title">Agregar Evento de Pago</h2>
            <!--end::Modal title-->

            <!--begin::Close-->
            <div class="btn btn-icon btn-sm btn-active-icon-primary" id="kt_modal_add_event_close" (click)="modal.dismiss()">
                <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
            </div>
            <!--end::Close-->
        </div>
        <!--end::Modal header-->

        <!--begin::Modal body-->
        <div class="modal-body py-10 px-lg-17">
            <!--begin::Input group-->
            <div class="fv-row mb-9 fv-plugins-icon-container">
                <!--begin::Label-->
                <label class="fs-6 fw-semibold required mb-2">Nombre del Evento</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" class="form-control form-control-solid" placeholder="Ej. Pago de Letra #001" name="calendar_event_name" [(ngModel)]="eventName" required>
                <!--end::Input-->
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="fv-row mb-9">
                <!--begin::Label-->
                <label class="fs-6 fw-semibold mb-2">Monto de la Letra</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="number" class="form-control form-control-solid" placeholder="Monto de la letra" name="calendar_event_amount" [(ngModel)]="eventAmount" required>
                <!--end::Input-->
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="fv-row mb-9">
                <!--begin::Label-->
                <label class="fs-6 fw-semibold mb-2">Comentario Adicional</label>
                <!--end::Label-->
                <!--begin::Input-->
                <textarea class="form-control form-control-solid" placeholder="Detalles adicionales sobre el pago" name="calendar_event_notes" [(ngModel)]="eventNotes"></textarea>
                <!--end::Input-->
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="fv-row mb-9">
                <!--begin::Label-->
                <label class="fs-6 fw-semibold mb-2">Fecha de Pago</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="date" class="form-control form-control-solid" name="calendar_event_date" [(ngModel)]="eventDate" required>
                <!--end::Input-->
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="fv-row mb-9">
                <!--begin::Label-->
                <label class="fs-6 fw-semibold mb-2">Recordatorio</label>
                <!--end::Label-->
                <!--begin::Checkbox-->
                <label class="form-check form-check-custom form-check-solid">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="sendReminder">
                    <span class="form-check-label fw-semibold">
                        Recordarme antes del evento
                    </span>
                </label>
                <!--end::Checkbox-->
            </div>
            <!--end::Input group-->
        </div>
        <!--end::Modal body-->

        <!--begin::Modal footer-->
        <div class="modal-footer flex-center">
            <!--begin::Button-->
            <button type="reset" id="kt_modal_add_event_cancel" class="btn btn-light me-3" (click)="modal.dismiss()">
                Cancelar
            </button>
            <!--end::Button-->

            <!--begin::Button-->
            <button type="button" id="kt_modal_add_event_submit" class="btn btn-primary" (click)="submitEvent()">
                <span class="indicator-label">
                    Guardar
                </span>
                <span class="indicator-progress">
                    Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
            <!--end::Button-->
        </div>
        <!--end::Modal footer-->
    </form>
    <!--end::Form-->
</div>

