<div class="modal-body">
    <div class="d-md-flex gap-2">
      <div class="alert alert-info">
        <strong>Monto Total: </strong> {{ totalMonto | currency:'S/' }}
      </div>
      <div class="alert alert-warning">
        <strong>Monto Pendiente: </strong> {{ totalMonto | currency:'S/'}}
      </div>
      <div class="alert alert-success">
        <strong>Cuotas: </strong> {{ cuotas }}
      </div>
    </div>
    <div>
      <!-- <button (click)="toggleWeekends()">toggle weekends</button> -->
      <full-calendar #calendar [options]="calendarOptions">
        <ng-template #eventContent let-arg>
          <b class="mx-1">{{arg.timeText}}</b>
          <i>{{arg.event.title}}</i>
        </ng-template>
      </full-calendar>
    </div>
  </div>
